<!DOCTYPE html>
<html>
    <head>
      <title>Cuisine sort</title>
    </head>
    <body>
      <h1>{{ cuisine.getCuisineType }} Restaurants</h1>
      {% for restaurant in restaurants %}
        <li> <a href='/restaurant/{{ restaurant.getId }}'>{{ restaurant.getName }} </a></li>
      {% endfor %}
      <a href="/restaurants">All Restaurants</a>
    </body>
</html>
