<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Restaurant Rater</title>
    </head>
    <body>
        <h1>{{ restaurant.getName }}</h1>
        <h2>Description:</h2>
        <p>{{ restaurant.getDescription }}</p>
        <h2>Cuisine Type:</h2>
        <p> {{ cuisine.getCuisineType }}</p>
        <form action="/restaurant/{{ restaurant.getId }}" method="post">
            <input name="_method" type= "hidden" value="delete">
            <button type="submit" name="button">Delete this restaurant</button>
        </form>
    </body>
</html>
