<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant Rater</title>
  </head>
  <body>
      {% if restaurants is not empty %}
        <h3>Your Restaurants</h3>
          <ul>
        {% for restaurant in restaurants %}
            <li><a href='/restaurant/{{ restaurant.getId }}'>{{ restaurant.getName }}</a></li>
        {% endfor %}
          </ul>
      {% endif %}

      <h3>Filter by Cuisine Type</h3>
      {% for cuisine in cuisines %}
          <li><a href='/cuisine/{{ cuisine.getId }}'>{{ cuisine.getCuisineType }}</a></li>
      {% endfor %}
      <a href="/"><button type="button" name="button">Back to submit page</button></a>
  </body>
</html>
