form label {
  display: block;
}

form input {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

.btn {
  margin-bottom: 5px;
}

.reviews h3 {
  text-align: center;
}

.reviews li {
  text-align: center;
}

ul {
  list-style-type: none;
}
